/*:root {
    --main-light-color: #f9bbb1;
    --main-dark-color: #481b0b;
    --main-background-color: black;
}

.message {
    margin: 10px 0 0 10px;
    width: 80vh;
    height: 80vh;
    border: solid black;
    display: flex;
    justify-content: center;
    flex-direction: row;
    text-align: center;
}

.img{
    display: flex;
    height: 100px;
    width: 100px;
}

.messageBlock {

    !*border: solid black;*!
    height: 20%;
    width: 40%;
    background-color: var(--main-dark-color);
    border-radius: 10%;
}


.leftPoint{
    width: 0;
    height: 0;
    border-left: 2vh solid transparent;
    border-right: 2vh solid transparent;
    border-top: 10vh solid var(--main-dark-color);
    top: 45%;
    left: -10%;
    transform: rotate(60deg);
}*/
.message {
    margin: 10px 0 0 10px;

}

.img {
    display: block;
    width: 40px;
    height: 40px;
    border-radius: 30px;
    border: 1px solid gray;
    float: left;
    margin: 48px 10px 0 0;
}

.content {
    height: 55px;
    width: 190px;
    background-color: #082103;
    float: left;
    margin-top: 30px;
    border-radius: 5px;
    padding-left: 10px;
    padding-top: 5px;
}

.content::after {
    content: "";
    z-index: 0;
    position: absolute;
    top: 140px;
    left: 57px;
    border: 10px solid transparent;
    border-right: 10px solid #082103;
    border-bottom: 10px solid #082103;
}

.name {
    color: #9793B9;
    font-size: 14px;
}

.text {
    color: #D8ECD3;
    font-size: 13px;
}

.time {
    color: #63855c;
    position: relative;
    left: 155px;
    bottom: 2px;
    z-index: 1;
    font-size: 12px;
}

.clear {
    clear: both;
}